<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('bloc/header_dashboard.twig') }}
</head>
<body>
    {{ include('bloc/menu_dashboard.twig') }}
</body>
    {{ include('bloc/footer_dashboard.twig') }}
</html>