{# Affichage du pied de page #}
 <footer class="masthead">
     <hr>
      <div class="container">
        <div class="row">
              <div class="col-lg-4 col-md-10 mx-auto">
                <div class="list-inline text-center">
                  <a href="index.php?page=login_register">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
                   <h5>Connexion</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-10 mx-auto">
                <div class="list-inline text-center">
                  <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                      </span>
                   <h5>Main Office</h5>
                    <p>Rue de charenton, 75012 Paris</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <h5>I'm on social networks</h5>
                </ul>
              </div>
        </div>
      </div>
        <div class="container">
          <div class="col-lg-12 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
          </div>
        </div>
    </footer>