{# Affichage du pied de page #}
 <footer class="masthead">
     <hr>
      <div class="container">
        <div class="row">
              <div class="col-lg-4 col-md-10 mx-auto">
                <div class="list-inline text-center">
                  <a href="index.php?page=login">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user-alt fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
                   <h6>Login</h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-10 mx-auto">
                <div class="list-inline text-center">
                  <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                  <h6>Rue de charenton, 75012 Paris</h6><p></p>
              </div>
              <div class="col-lg-4 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <h6>I'm on social networks</h6>
                </ul>
              </div>
        </div>
      </div>
        <div class="container">
          <div class="col-lg-12 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
          </div>
        </div>
    </footer>
