{# Affichage du formulaire de connexion de la page ACCOUNT #}
{% if messageValidation == true %}
    <i class="fa fa-check" style="font-size:15px;color:mediumseagreen;padding-bottom: 13px">
        {{ messageValidation }}
        {% if pseudo == true %}
            {{ pseudo }} !
        {% endif %}
    </i>
{% endif %}
<form id="login-form" action="index.php?page=connect_user" method="post" role="form" style="display: block;">
    <div class="form-group">
        <input type="text" name="pseudo" id="pseudo" tabindex="1" class="form-control" placeholder="Username" value="" autofocus required>
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
            </div>
        </div>
    </div>
    {% if message == true %}
        <i class="fa fa-exclamation-triangle" style="font-size:15px;color:firebrick;padding-bottom: 13px"> {{ message }}</i>
    {% endif %}
</form>