{# Affichage du menu du blog #}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.php?page=home">C. MAILLET</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.php?page=home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?page=blog">Blog</a>
            </li>
            {% if pseudo == true %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ pseudo }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if role == "admin" %}
                  <a class="dropdown-item" href="index.php?page=dashboard">My dashboard</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="index.php?page=sign_out">Sign out</a>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
