{# Bannière de blog #}
<header class="masthead" style="background-image: url('public/img/Feng-Shui-bureau.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Web Developer</h1>
                <blockquote class="blockquote text-right" style="color: whitesmoke">
                    <p class="mb-0">I have no special talent, I am only passionately curious.</p>
                    <footer class="blockquote-footer" style="color: whitesmoke">Quote by <cite title="Source Title">ALBERT EINSTEIN</cite></footer>
                </blockquote>
            </div>
          </div>
        </div>
      </div>
</header>
