{# Affichage du formulaire d'enregistrement de la page ACCOUNT #}

<form id="register-form" action="index.php?page=add_user" method="post" role="form" style="display: none;">
    <div class="form-group">
        <input type="text" name="pseudo" id="pseudo" tabindex="1" class="form-control" placeholder="Username" value="" maxlength="20" autofocus required>
    </div>
    <div class="form-group">
        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" maxlength="25" required>
    </div>
    <div class="form-group">
        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" maxlength="25" required>
    </div>
    <div class="messsage-erreur" id="message-erreur">
       {% if message == true %}
           <div class="alert alert-danger" role="alert">
               <i class="fa fa-exclamation-triangle" style="font-size:15px;color:firebrick;padding-bottom: 13px"> {{ message }}</i>
           </div>
       {% endif %}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
            </div>
        </div>
    </div>
</form>